/* FrameworkX Large Breakpoint (992px) */

/* Grid system for large screens */
@media (min-width: 992px) {
  .fw-container-lg {
    max-width: var(--fw-container-lg);
  }
  
  .fw-col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .fw-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  
  .fw-col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .fw-col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .fw-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .fw-col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .fw-col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .fw-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .fw-col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .fw-col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .fw-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .fw-col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .fw-col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  
  .fw-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .fw-offset-lg-0 {
    margin-left: 0;
  }
  
  .fw-offset-lg-1 {
    margin-left: 8.333333%;
  }
  
  .fw-offset-lg-2 {
    margin-left: 16.666667%;
  }
  
  .fw-offset-lg-3 {
    margin-left: 25%;
  }
  
  .fw-offset-lg-4 {
    margin-left: 33.333333%;
  }
  
  .fw-offset-lg-5 {
    margin-left: 41.666667%;
  }
  
  .fw-offset-lg-6 {
    margin-left: 50%;
  }
  
  .fw-offset-lg-7 {
    margin-left: 58.333333%;
  }
  
  .fw-offset-lg-8 {
    margin-left: 66.666667%;
  }
  
  .fw-offset-lg-9 {
    margin-left: 75%;
  }
  
  .fw-offset-lg-10 {
    margin-left: 83.333333%;
  }
  
  .fw-offset-lg-11 {
    margin-left: 91.666667%;
  }
  
  .fw-g-lg-0,
  .fw-gx-lg-0,
  .fw-gy-lg-0 {
    --fw-gutter-x: 0;
    --fw-gutter-y: 0;
  }
  
  .fw-g-lg-1,
  .fw-gx-lg-1 {
    --fw-gutter-x: var(--fw-spacing-1);
  }
  
  .fw-g-lg-1,
  .fw-gy-lg-1 {
    --fw-gutter-y: var(--fw-spacing-1);
  }
  
  .fw-g-lg-2,
  .fw-gx-lg-2 {
    --fw-gutter-x: var(--fw-spacing-2);
  }
  
  .fw-g-lg-2,
  .fw-gy-lg-2 {
    --fw-gutter-y: var(--fw-spacing-2);
  }
  
  .fw-g-lg-3,
  .fw-gx-lg-3 {
    --fw-gutter-x: var(--fw-spacing-3);
  }
  
  .fw-g-lg-3,
  .fw-gy-lg-3 {
    --fw-gutter-y: var(--fw-spacing-3);
  }
  
  .fw-g-lg-4,
  .fw-gx-lg-4 {
    --fw-gutter-x: var(--fw-spacing-4);
  }
  
  .fw-g-lg-4,
  .fw-gy-lg-4 {
    --fw-gutter-y: var(--fw-spacing-4);
  }
  
  .fw-g-lg-5,
  .fw-gx-lg-5 {
    --fw-gutter-x: var(--fw-spacing-5);
  }
  
  .fw-g-lg-5,
  .fw-gy-lg-5 {
    --fw-gutter-y: var(--fw-spacing-5);
  }
}

/* Display utilities for large screens */
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  
  .d-lg-inline {
    display: inline !important;
  }
  
  .d-lg-inline-block {
    display: inline-block !important;
  }
  
  .d-lg-block {
    display: block !important;
  }
  
  .d-lg-grid {
    display: grid !important;
  }
  
  .d-lg-table {
    display: table !important;
  }
  
  .d-lg-table-row {
    display: table-row !important;
  }
  
  .d-lg-table-cell {
    display: table-cell !important;
  }
  
  .d-lg-flex {
    display: flex !important;
  }
  
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
  
  .d-lg-none {
    display: none !important;
  }
}

/* Flex utilities for large screens */
@media (min-width: 992px) {
  .flex-lg-fill {
    flex: 1 1 auto !important;
  }
  
  .flex-lg-row {
    flex-direction: row !important;
  }
  
  .flex-lg-column {
    flex-direction: column !important;
  }
  
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
  
  .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }
  
  .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }
  
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }
  
  .flex-lg-shrink-1 {
    flex-shrink: 1 !important;
  }
  
  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  
  .justify-content-lg-center {
    justify-content: center !important;
  }
  
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  
  .justify-content-lg-around {
    justify-content: space-around !important;
  }
  
  .justify-content-lg-evenly {
    justify-content: space-evenly !important;
  }
  
  .align-items-lg-start {
    align-items: flex-start !important;
  }
  
  .align-items-lg-end {
    align-items: flex-end !important;
  }
  
  .align-items-lg-center {
    align-items: center !important;
  }
  
  .align-items-lg-baseline {
    align-items: baseline !important;
  }
  
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  
  .align-content-lg-start {
    align-content: flex-start !important;
  }
  
  .align-content-lg-end {
    align-content: flex-end !important;
  }
  
  .align-content-lg-center {
    align-content: center !important;
  }
  
  .align-content-lg-between {
    align-content: space-between !important;
  }
  
  .align-content-lg-around {
    align-content: space-around !important;
  }
  
  .align-content-lg-stretch {
    align-content: stretch !important;
  }
  
  .align-self-lg-auto {
    align-self: auto !important;
  }
  
  .align-self-lg-start {
    align-self: flex-start !important;
  }
  
  .align-self-lg-end {
    align-self: flex-end !important;
  }
  
  .align-self-lg-center {
    align-self: center !important;
  }
  
  .align-self-lg-baseline {
    align-self: baseline !important;
  }
  
  .align-self-lg-stretch {
    align-self: stretch !important;
  }
}

/* Text utilities for large screens */
@media (min-width: 992px) {
  .text-lg-start {
    text-align: left !important;
  }
  
  .text-lg-end {
    text-align: right !important;
  }
  
  .text-lg-center {
    text-align: center !important;
  }
}

/* Visibility utilities for large screens */
@media (min-width: 992px) {
  .visible-lg {
    visibility: visible !important;
  }
  
  .invisible-lg {
    visibility: hidden !important;
  }
}

/* Float utilities for large screens */
@media (min-width: 992px) {
  .float-lg-start {
    float: left !important;
  }
  
  .float-lg-end {
    float: right !important;
  }
  
  .float-lg-none {
    float: none !important;
  }
}

/* Position utilities for large screens */
@media (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
  
  .position-lg-relative {
    position: relative !important;
  }
  
  .position-lg-absolute {
    position: absolute !important;
  }
  
  .position-lg-fixed {
    position: fixed !important;
  }
  
  .position-lg-sticky {
    position: sticky !important;
  }
}

/* Typography for large screens */
@media (min-width: 992px) {
  .fs-lg-1 {
    font-size: var(--fw-font-size-5xl) !important;
  }
  
  .fs-lg-2 {
    font-size: var(--fw-font-size-4xl) !important;
  }
  
  .fs-lg-3 {
    font-size: var(--fw-font-size-3xl) !important;
  }
  
  .fs-lg-4 {
    font-size: var(--fw-font-size-2xl) !important;
  }
  
  .fs-lg-5 {
    font-size: var(--fw-font-size-xl) !important;
  }
  
  .fs-lg-6 {
    font-size: var(--fw-font-size-lg) !important;
  }
}

/* Modal sizes for large screens */
@media (min-width: 992px) {
  .fw-modal-lg,
  .fw-modal-xl {
    max-width: 800px;
  }
}

/* Modal fullscreen for large screens */
@media (max-width: 991.98px) {
  .fw-modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  
  .fw-modal-fullscreen-lg-down .fw-modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  
  .fw-modal-fullscreen-lg-down .fw-modal-header,
  .fw-modal-fullscreen-lg-down .fw-modal-footer {
    border-radius: 0;
  }
  
  .fw-modal-fullscreen-lg-down .fw-modal-body {
    overflow-y: auto;
  }
}

/* Card deck for large screens */
@media (min-width: 992px) {
  .fw-card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: calc(var(--fw-spacing-3) * -1);
    margin-left: calc(var(--fw-spacing-3) * -1);
  }
  
  .fw-card-deck .fw-card {
    flex: 1 0 0%;
    margin-right: var(--fw-spacing-3);
    margin-bottom: 0;
    margin-left: var(--fw-spacing-3);
  }
}
